h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  font-family: var(--top-fonts);
  color: rgb(117, 117, 117);
}

img {
  display: block;
}

:root {
  --top-fonts: roboto, tahoma, sans-serif;
  --title-color: rgb(33, 33, 33);
  --focus-color: rgb(33, 150, 243);
  --dominant-l-s: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding: 16px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 15px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation .list {
    display: flex;
  }
}

.open-menu-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
.open-menu-button:focus, .open-menu-button:hover {
  fill: var(--focus-color);
}
@media screen and (min-width: 768px) {
  .open-menu-button {
    display: none;
  }
}

.header__contacts {
  display: none;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
  }
}

.menu-list {
  display: block;
}

.menu-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list--link {
  color: rgb(33, 33, 33);
}
.menu-list--link:hover, .menu-list--link:focus {
  color: var(--focus-color);
}

.contacts-list__link {
  display: flex;
  color: rgb(117, 117, 117);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--focus-color);
}

.contacts-list__icon {
  display: block;
  margin-right: 10px;
  fill: rgb(117, 117, 117);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover .contacts-list__icon, .contacts-list__link:focus .contacts-list__icon {
  fill: var(--focus-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.logo--dark {
  color: black;
}

.logo__header {
  margin-right: 93px;
}
@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  max-width: 1600px;
  background-color: rgb(47, 48, 58);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob1x.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2x.jpg);
  }
}

.hero .container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.specifics__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .specifics__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .specifics__list {
    flex-wrap: nowrap;
  }
}

.specifics-list__element {
  display: flex;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.specifics-list__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specifics-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

.specifics-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--dominant-l-s);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .specifics-list__title {
    text-align: left;
  }
}

.specifics-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--dominant-l-s);
}

.team {
  background-color: rgb(245, 244, 250);
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  display: block;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.team-list__element {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.team-list-description {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-description__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--dominant-l-s);
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-list-description__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--dominant-l-s);
  margin-bottom: 16px;
}

.soc-list__link--team {
  fill: #AFB1B8;
}
.soc-list__link--team:hover, .soc-list__link--team:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.section__development {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .section__development {
    display: flex;
  }
}

.section-development__list {
  display: flex;
}

.section-development-list__item:not(:last-child) {
  margin-right: 30px;
}

.section-development-list__card {
  position: relative;
}

.section-development-list__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--dominant-l-s);
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
}

.customers-list__link {
  display: flex;
  max-width: 210px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: background-color, fill;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .customers-list__link {
    max-width: 226px;
  }
}

.customers-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.footer {
  background-color: rgb(46, 47, 59);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    margin-right: 93px;
  }
}

.logo--light {
  color: rgb(255, 255, 255);
}

.footer-contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--dominant-l-s);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-list__link:hover, .footer-contacts-list__link:focus {
  color: var(--focus-color);
}

.footer-contacts-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contacts-list {
    margin-bottom: 0;
  }
}

.footer-contacts-list--address {
  color: rgb(255, 255, 255);
}

.footer-contacts-list--contacts {
  color: rgba(255, 255, 255, 0.6);
}

.futer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .futer__container {
    display: flex;
    text-align-last: left;
  }
}

.join-title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--dominant-l-s);
}

.join__title {
  margin-bottom: 20px;
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    padding-top: 5px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.soc-list__link--join {
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-list__link--join:hover, .soc-list__link--join:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.footer__subscription {
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: 93px;
  }
}

.subscription__title {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--dominant-l-s);
}

.subscription__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}
.subscription__input:focus {
  border-color: var(--focus-color);
}

.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.subscription__form {
  width: 100 vw;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
  }
}

.subscription__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-bottom: 0px;
  }
}

.portfolio-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio-item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio-element-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element-title:hover, .portfolio-element-title:focus {
  color: var(--focus-color);
}

.portfolio-element-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--dominant-l-s);
  color: rgb(117, 117, 117);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element-text:hover, .portfolio-element-text:focus {
  color: var(--focus-color);
}

.portfolio-element-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element-link:hover, .portfolio-element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text-effect {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: var(--dominant-l-s);
  height: 100%;
  padding: 63px 24px;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  overflow: auto;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element-link:hover .portfolio-item-text, .portfolio-element-link:focus .portfolio-item-text {
  transform: translateY(-100%);
}

.modal-title {
  font-family: var(--top-founts);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--dominant-l-s);
  color: #212121;
  margin-bottom: 12px;
}

.modal-wrap {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--focus-color);
}

.modal-lable {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-user-text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-user-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-user-text:focus {
  border-color: var(--focus-color);
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: var(--dominant-l-s);
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-checkbox-text span {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 2px solid #212121;
  transition-property: background-color, border-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .modal-checkbox-text span {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}

.modal-check-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .modal-checkbox-text .modal-check-icon {
  fill: rgb(255, 255, 255);
}

.modal-buton {
  display: block;
  margin: 0 auto;
}

.modal-link {
  color: rgb(33, 150, 243);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link:hover, .modal-link:focus {
  color: rgb(24, 140, 232);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--focus-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition-property: transform, opacity;
  transition-duration: 450ms, 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .container {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
@media screen and (min-width: 480px) {
  .mobile-menu .container {
    padding-left: 40px;
    padding-right: 25px;
  }
}
.is-hidden .mobile-menu {
  transform: scale(0.2);
  opacity: 0;
}

.close-menu-button {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu-button:focus, .close-menu-button:hover {
  fill: var(--focus-color);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--focus-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts-tel {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgb(24, 140, 232);
  margin-bottom: 32px;
  transition-property: color;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-menu-contacts-tel {
    font-size: 34px;
    line-height: 1.17;
  }
}
.mobile-menu-contacts-tel:hover, .mobile-menu-contacts-tel:focus {
  color: var(--focus-color);
}

.mobile-menu-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts-mail:hover, .mobile-menu-contacts-mail:focus {
  color: var(--focus-color);
}

.mobile-menu-soc-list {
  display: flex;
  margin-left: -10px;
  flex-wrap: wrap;
}

.mobile-soc-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(24, 140, 232);
  padding: 10px;
  transition-property: color;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-list-link:hover, .mobile-soc-list-link:focus {
  color: var(--focus-color);
}

.mobile-soc-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.no-scroll {
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: var(--dominant-l-s);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 450ms, 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.portfolio-filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter-item {
    margin-bottom: 0;
  }
}

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--dominant-l-s);
  color: var(--title-color);
  background-color: rgb(245, 244, 250);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  color: rgb(255, 255, 255);
  background-color: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.current {
  color: rgb(33, 150, 243);
  position: relative;
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
}

.modal {
  position: absolute;
  width: 94vw;
  min-height: 581px;
  max-width: 450px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  transition-property: transform, opacity;
  transition-duration: 450ms, 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  overflow-y: auto;
}
@media screen and (max-width: 480px) {
  .modal {
    height: 77vh;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
.backdrop.is-hidden .modal {
  transform: scale(0.2);
  opacity: 0;
}

.button-close-modal {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-modal:hover, .button-close-modal:focus {
  fill: var(--focus-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.button:hover, .button:focus {
  background-color: rgb(24, 140, 232);
}

.logo {
  font-family: raleway, tahoma, sans-serif;
  font-weight: 700;
  color: rgb(33, 150, 243);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--dominant-l-s);
}/*# sourceMappingURL=main.css.map */