.section__development {
  display: none;
  padding-bottom: 94px;
}

.section-development__list {
  
  // display: flex;
}

.section-development-list__item:not(:last-child) {
  margin-right: 30px;
}

.section-development-list__card{
  position: relative;
}

.section-development-list__text{

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--dominant-l-s);
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background-color:rgba(47, 48, 58, 0.8);
  
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
}