.footer {
    background-color: rgb(46, 47, 59);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo__footer {
    display: inline-block;
    margin-bottom: 20px;
    // margin-right: 93px;
  }
  
  .logo--light {
    color: rgb(255, 255, 255);
  }
  
  .footer-contacts-list__item:not(:last-child) {
    margin-bottom: 8px;
    // margin-bottom: 9px;
  }
  
  .footer-contacts-list__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--dominant-l-s);
  
    cursor: pointer;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--focus-color);
    }
  }
  
  .footer-contacts-list{
    margin-bottom: 60px;
  }
  
  .footer-contacts-list--address{
    color: rgb(255, 255, 255);
  }
  
  .footer-contacts-list--contacts{
    color: rgba(255, 255, 255, 0.6);
  }
  
  .futer__container{
    // display: flex;
    text-align: center;
  }
  
  .join-title{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--dominant-l-s);
  }
  
  .join__title{
    margin-bottom: 20px;
  }
  
  .join{
    // margin-left: 70px;
    // padding-top: 12px;
    margin-bottom: 60px;
  }
  
    .soc-list__link--join{
      fill: #FFFFFF;
      background-color: rgba(255, 255, 255, 0.1);

      &:hover,
      &:focus{
    background-color: #2196F3;
    fill: #FFFFFF;
  }
    }
  
  
  .soc-list__item:not(:last-child) {
    // margin-right: 10px;
  }
  
  
  
  .footer__subscription{
    // margin-left: 93px;
    padding-top: 12px;
  }
  
  .subscription__title{
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;
    // font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--dominant-l-s);
  }
  
  .subscription__input{
    width: 100%;
    // width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    // margin-right: 12px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
    border-color: var(--focus-color);
  }
  }
  
  .subscription__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .subscription__form{
    width: 100 vw;
    // display: flex;
  }
  
  .subscription__icon{
    margin-left: 10px;
  }