.header {
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
  }
  .header__container{
    padding: 16px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      padding: 0 15px;
    }
  }
  
  .navigation {
    display: flex;
    align-items: center; 
    .list{
      display: none;
    }

    @media screen and (min-width: 768px) {
      .list{
        display: flex;
      }
    }
  }

  .open-menu-button{
    display: flex;
    align-items: center; 
    background-color: transparent;
    border: none;
    &:focus,
    &:hover{
    fill: var(--focus-color);
  }

  @media screen and (min-width: 768px) {
      display: none;
  }
  }
  

  .header__contacts {
    display: none;
    margin-left: auto;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: block;
    }
  }
  
  .menu-list {
    display: block;
  }
  
  .menu-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-list--link{
    color: rgb(33, 33, 33);

    &:hover,
    &:focus {
    color: var(--focus-color);
  }
  }
  
  .contacts-list__link {
    display: flex;
    color: rgb(117, 117, 117);
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--focus-color);
  }
  }
  
  
  
  .contacts-list__icon {
    display: block;
    margin-right: 10px;
    fill: rgb(117, 117, 117);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-list__link:hover &,
    .contacts-list__link:focus &{
    fill: var(--focus-color);
  }
  }
  
  .contacts-list__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
  }
    // margin-right: 50px;
  }
  
  .logo--dark{
    color: black;
  }
  
  .logo__header {
    margin-right: 93px;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
  }
  
  .menu-list__item:not(:last-child) {
    margin-right: 50px;
  }