.hero {
    max-width: 1600px;
    background-color: rgb(47, 48, 58);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
}

    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;


    @media screen and (min-width: 768px){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab1x.jpg);
      @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab2x.jpg);
}
  }

  @media screen and (min-width: 1200px){
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2x.jpg);
}
}
  }

  .hero .container {
    text-align: center;
  }
  
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
    line-height: 1.36;
  }
  }
  
  