.portfolio-list {
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: -30px;
  }
  
  .portfolio-item {
    // flex-basis: calc((100% - 90px) / 3);
    // margin-left: 30px;
     width: 100%;
     margin-bottom: 30px;

    // &:nth-last-child(-n + 3) {
    // margin-bottom: 0;
  // }
  }
  
  .portfolio-description {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    
  }
  
  .portfolio-element-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--focus-color);
  }
  }
  
  .portfolio-element-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--dominant-l-s);
    color: rgb(117, 117, 117);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--focus-color);
  }
  }
  
 
 
  
  .portfolio-element-link{
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  .portfolio-text-effect{
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-item-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: var(--dominant-l-s);
    height: 100%;
    padding: 63px 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    overflow: auto;
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .portfolio-element-link:hover &,
    .portfolio-element-link:focus &{
    transform: translateY(-100%);
    }
  }
  
  