.portfolio-filter {
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
    margin-bottom: 40px - 15px;
    // margin-bottom: 50px;
  }
  
  .filter-item:not(:last-child) {
    margin-right: 8px;
  }

  .filter-item{
    margin-bottom: 15px;
  }
  
  .button-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: var(--dominant-l-s);
    color: var(--title-color);
    background-color: rgb(245, 244, 250);
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
    color: rgb(255, 255, 255);
    background-color: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
  